@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

:root {
  --color-one: #875c74;
  --color-two: #f8bdc4;
  --color-three: #a3c3d9;
  --color-five: #cdcdf4;

  --color-four: #fce8b0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 60px;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.navBar {
  background: var(--color-one);
}

.nav-name {
  font-size: 24px;
  color: #f1f1f1;
  font-weight: 650;
}

.active {
  color: var(--color-four);
}

.btn-outline {
  border-color: var(--color-four);
}

.btn-outline:hover {
  border-color: #f1f1f1 !important;
  background: var(--color-four) !important;
  color: #000 !important;
}

.btn-custom {
  border-color: #f1f1f1 !important;
  background: var(--color-four) !important;
  color: #000 !important;
}

.btn-custom:hover {
  border-color: var(--color-four) !important;
  background: transparent !important;
}

/* home page */

.home-card {
  background-color: var(--color-one);
}

.home-card img {
  width: 100%;
}

.home-card p {
  color: #f1f1f1f1;
  font-size: 1.2rem;
}

.card-title {
  color: var(--color-four);
  font-size: 35px;
  font-weight: 900;
}

/* contact */

.contact-text {
  color: var(--color-one);
  font-weight: 900;
}


/* project */

.project-image {
  width: auto;
  max-height: 390px;
}

.project-bg-image {
  width: 100%;
}

/* footer */

.footer {
  background: var(--color-one);
}

.nav-link:hover {
  color: var(--color-four) !important;
}

.footer {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
}


